h3{
    font-family: arial;
}

h4{
    background-color: #D6D6D6;
}
 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #7CBDC2;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #B2CFD1;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}


.selected_filter{
    background-color: #610505;
    color: #F7F0F0;
    width: 200px;
    height: 80px;
    padding: 4px;
}

.selected_filter_value{
    background-color: #610505;
    color: #F7F0F0;
}

.x_filter_button{
    width: 15px;
    height: 15px;

    /* Used to center images */
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}