h3{
    font-family: arial;
}

h4{
    background-color: #D6D6D6;
}
 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #7CBDC2;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #B2CFD1;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}


.selected_filter{
    background-color: #610505;
    color: #F7F0F0;
    width: 200px;
    height: 80px;
    padding: 4px;
}

.selected_filter_value{
    background-color: #610505;
    color: #F7F0F0;
}

.x_filter_button{
    width: 15px;
    height: 15px;

    /* Used to center images */
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}

table{
    display: inline-block;
    overflow: auto;
}

th{
    position: sticky;
    top:0px;
    color: #FFFFFF;
    background-color: #33B5E5;

}

.left_split{
    width: 600px;
    height:500px;
    float: left;
}

.right_split{
    margin-left: 700px;
    height:500px;
}

#save_detail_input{
    background-color: #7BAB5E;
    width: 100px;
    height: 30px;
}

#add_new_video_submit{
    background-color: #7BAB5E;
    width: 100px;
    height: 30px;
}



tr.video_row:hover{
        background-color:#E0DCDC;
}

.video_row_link{
    text-decoration: none;
    color: black;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    /*text-align: center;*/
    /*display:hidden;*/
}

#overlay img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}