{% extends "menuBar.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">

    <title>Video Archive</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='video_detail.js') }}"></script>
</head>

<body>
    <br>
        <!--GENERIC ALERT PANEL-->
        <div id="alert_div">
        {% if alert_text %}
            <div id="form_alert" style="...">
                {{alert_text | safe}}
            </div>
        {% endif%}
        </div>

    <div id = "video_player" class="left_split">
        <video width="640" height="480" controls>
            <source src="{{ url_for('static', filename='')}}{{ video.link }}" type="video/mp4">
        </video>

        <br><br>
        <form id="video_form" method="post">
            <div id="delete_video_div">
                <button type="button" id="delete_video_button" name="delete_video_button" style="background-color: #85392D; color: #FFFFFF;">Delete Video</button>
                <br>
                <div id="delete_confirm" style="visibility: hidden; background-color: #E0DCDC;">
                    <input type="submit" id="delete_video_button_submit" name="delete_video_button_submit" value="Really Delete?">
                    &nbsp
                    <input type="submit" id="cancel_video_button_submit" name="cancel_video_button_submit" value="Cancel">
                </div>
            </div>
            <br>
            <div id="thumbnail_div">
                <button id="edit_thumbnail_button" name="edit_thumbnail_button">Set Thumbnail</button>
            </div>
        </form>

    </div>

    <div id = "video_detail" class="right_split">

        <h3>Video Details</h3>
        <form id="video_detail_form" method="post">
            <button id="edit_detail_button" name="edit_detail_button" value="Edit Details" style="width: 100px; height: 30px">Edit Details</button>
            &nbsp &nbsp &nbsp

            <input type="submit" id="save_detail_input" name="save_detail_input" value="Save Detail">
            <br><br>
            <table style="...">
                <tr>
                    <td>Video Id:</td>
                    <td><input class="detail_value_field_readonly" type="text" disabled name="id" value="{{ video.id }}">
                </tr>
                <tr>
                    <td>Video Name:</td>
                    <td><input class="detail_value_field" type="text" disabled name="videoName" value="{{ video.videoName }}">
                </tr>
                <tr>
                    <td>User Name:</td>
                    <td><input class="detail_value_field" type="text" disabled name="userName" value="{{ video.userName }}">
                </tr>
                <tr>
                    <td>Tags:</td>
                    <td><input class="detail_value_field" type="text" disabled name="type" value="{{ video.type }}">
                </tr>
                <tr>
                    <td>Recorded Date:</td>
                    <td><input class="detail_value_field" type="text" disabled name="theDate" value="{{ video.theDate }}">
                </tr>
                <tr>
                    <td>Added Date:</td>
                    <td><input class="detail_value_field" type="text" disabled name="addDate" value="{{ video.addDate }}">
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><input class="detail_value_field" type="text" disabled name="location" value="{{ video.location }}">
                </tr>
                <tr>
                    <td>Primary Actor:</td>
                    <td><input class="detail_value_field" type="text" disabled name="primaryActor" value="{{ video.primaryActor }}">
                </tr>
                <tr>
                    <td>Secondary Actor:</td>
                    <td><input class="detail_value_field" type="text" disabled name="secondaryActor" value="{{ video.secondaryActor }}">
                </tr>
                <tr>
                    <td>Link:</td>
                    <td><input class="detail_value_field" type="text" disabled name="link" value="{{ video.link }}">
                </tr>
                <tr>
                    <td>Original File:</td>
                    <td><input class="detail_value_field" type="text" disabled name="originalFile" value="{{ video.originalFile }}">
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><textarea class="detail_value_field" name="description" disabled rows="6" cols="30">{{ video.description }}</textarea></td>
                </tr>

            </table>
        </form>
    </div>



</body>

{% endblock %}