{% extends "menuBar.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">

    <title>Video Archive</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='video_detail.js') }}"></script>
</head>

<body>
    <br>
        <!--GENERIC ALERT PANEL-->
        <div id="alert_div">
        {% if alert_text %}
            <div id="form_alert" style="...">
                {{alert_text | safe}}
            </div>
        {% endif%}
        </div>

    <div id = "video_player" class="left_split">
        <video width="640" height="480" controls>
            <source src="{{ url_for('static', filename='')}}{{ video.link }}" type="video/mp4">
        </video>

        <br><br>
        <form id="video_form" method="post">
            <div id="delete_video_div">
                <button type="button" id="delete_video_button" name="delete_video_button" style="background-color: #85392D; color: #FFFFFF;">Delete Video</button>
                <br>
                <div id="delete_confirm" style="visibility: hidden; background-color: #E0DCDC;">
                    <input type="submit" id="delete_video_button_submit" name="delete_video_button_submit" value="Really Delete?">
                    &nbsp
                    <input type="submit" id="cancel_video_button_submit" name="cancel_video_button_submit" value="Cancel">
                </div>
            </div>
            <br>
            <div id="thumbnail_div">
                <button id="edit_thumbnail_button" name="edit_thumbnail_button">Set Thumbnail</button>
            </div>
        </form>

    </div>

    <div id = "video_detail" class="right_split">

        <h3>Video Details</h3>
        <form id="video_detail_form" method="post">
            <button id="edit_detail_button" {% if edit %} disabled {% endif %}  name="edit_detail_button" value="Edit Details" style="width: 100px; height: 30px" >Edit Details</button>
            &nbsp &nbsp &nbsp

            <input type="submit" id="save_detail_input" name="save_detail_input" value="Save Detail" {% if not edit %} style="visibility: hidden;" {% endif %}>
            <br><br>
            <table style="...">
                <tr>
                    <td>Video Id:</td>
                    <td><input id="id_input" class="detail_value_field" type="text" {% if not edit %} disabled {% else %} readonly {% endif %} name="id" value="{{ video.id }}">
                </tr>
                <tr>
                    <td>Video Name:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="videoName" value="{{ video.videoName }}">
                </tr>
                <tr>
                    <td>User Name:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="userName" value="{{ video.userName }}">
                </tr>
                <tr>
                    <td>Tags:</td>
                    <td>
                        <input id="tag_input" class="detail_value_field" type="text" {% if not edit %} disabled {% else %} readonly {% endif %} name="type" value="{{ video.type }}">
                        <span id="tag_select_span" {% if not edit %} style="visibility:hidden;" {% endif %} >
                            <select id="tag_select" name="tag_select">
                                {% for tag in tag_list %}
                                <option value="{{ tag }}">{{ tag }}</option>
                                {% endfor %}
                            </select>
                        </span>
                        <button type="button" id="add_tag_button" {% if not edit %} style="visibility:hidden;" {% endif %} name="add_tag_button" value="Add New Tag">Add New Tag</button>
                    </td>
                </tr>
                <tr>
                    <td>Recorded Date:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="theDate" value="{{ video.theDate }}">
                </tr>
                <tr>
                    <td>Added Date:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="addDate" value="{{ video.addDate }}">
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><input id="location_input"  class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="location" value="{{ video.location }}">
                        <span id="location_select_span" {% if not edit %} style="visibility:hidden;" {% endif %} >
                            <select id="location_select" name="location_select">
                                {% for loc in location_list %}
                                <option value="{{ loc }}">{{ loc }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Primary Actor:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="primaryActor" value="{{ video.primaryActor }}">
                </tr>
                <tr>
                    <td>Secondary Actor:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="secondaryActor" value="{{ video.secondaryActor }}">
                </tr>
                <tr>
                    <td>Link:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="link" value="{{ video.link }}">
                </tr>
                <tr>
                    <td>Original File:</td>
                    <td><input class="detail_value_field" type="text" {% if not edit %} disabled {% endif %} name="originalFile" value="{{ video.originalFile }}">
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><textarea class="detail_value_field" name="description" {% if not edit %} disabled {% endif %} rows="6" cols="30">{{ video.description }}</textarea></td>
                </tr>

            </table>
        </form>
    </div>



</body>

{% endblock %}