{% extends "menuBar.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">

    <title>Video Archive</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='video_archive.js') }}"></script>
</head>

<body>
    <br>
        <!--GENERIC ALERT PANEL-->
        <div id="alert_div">
        {% if alert_text %}
            <div id="form_alert" style="...">
                {{alert_text | safe}}
            </div>
        {% endif%}
        </div>

    <div id="debugText"></div>
    <br>

    <h3>Videos:</h3>

    <form id="videos_form" method="post">
        <input type="submit" id="add_video" name="add_video" value="Add New Video">
        <br><br>

        <h4>Filters:</h4>
        <input type="submit" id="clear_filters" name="clear_filters" value="Clear Filters">
        <br><br>

        <div id="filter_div">

            {% for filter in selected_filter_list %}
                <span id="{{ filter[0] }}_selected" class="selected_filter">
                    {{ filter[1] }} &nbsp
                    <input class="selected_filter_value" type="text" readonly name="{{ filter[0] }}_input" value="{{ filter[2] }}"> &nbsp <img class="x_filter_button" name="{{ filter[0] }}" src="{{ url_for('static', filename='x.png') }}"/>
                </span>
                &nbsp&nbsp
            {% endfor %}
        </div>
        <br>
        <div id="new_filter_div">
            Select New Filter:
            <select name="filter_select" id="filter_select">
            {% for k,v in filter_options.items() %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
            </select>

            <div id="filter_value_panel"></div>
            <!--input type="button" id="add_filter" name="add_filter" value="Add Filter"-->
        </div>

        <br><br>

        <table style="height: 550px">
            <tbody>
                <tr>
                    <th>Thumbnail</th>
                    <th>Id</th>
                    <th>Video Name</th>
                    <th>Date</th>
                    <th>Tags</th>
                </tr>
            {% for vid in videos %}
                <tr class="video_row">
                    <td id="thumbnail">
                        <a href="video_detail?id={{ vid.id }}">
                            <img src="{{ url_for('static', filename='thumbnails')}}/{{ vid.id }}.jpg" width=60 height=60>
                        </a>

                    </td>
                    <td id="id">{{ vid.id }}</td>
                    <td id="videoName">{{ vid.videoName }}</td>
                    <td id="theDate">{{ vid.theDate }}</td>
                    <td id="type">{{ vid.type }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>


</body>

{% endblock %}